

header {
    background-color: black;
  }
  
  
  .header-top{
    width: 100%;
    height: 80px;
    background-color: black;
  }
  
  .header-top h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: serif;
  }
  
  .header-bottom {
  width: 100%;
  height: 100px;
  background-color: black;
  }
  
  ul {
    display: flex;
    justify-content: center;
    color: grey;
  }
  
  li {
    display: block;
    text-align: center;
    margin: 0 30px;
  }
  
  .fas {
    font-size: 30px;
    color: rgb(89, 104, 247);
    padding-top: 10px;
  }
  
  p {
    font-size: 15px;
  }
  
  li:hover{
    color: white;
  }
  
  a{
      display: inline-block;
      position: relative;
      color: gray;
        text-decoration: none;
  }
  a:before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 3px;
      background: rgb(89, 104, 247);
      transform: scale(0, 1);
      transition: 0.4s;
  }
  a:hover:before {
      transform: scale(1);
  }
  

img {
  width: 400px;
  height: 500px;
}

h5 {
  font-size: 25px;
}

.toggle-menu dt {
  margin: 0 auto;
  width: 400px;
  line-height: 50px;
  text-align: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.toggle-menu > dd {
  display: none;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 400px;
  line-height: 50px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.toggle-menu dd + dd {
  border-top: none;
}

.ranking {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin: 30px 0;

}

#chara {
  margin: 30px 0;
}

h3 {
  text-align: center;
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  font-size: 30px;
  margin: 30px 0;
}


.bb{
  width: 150px;
  height: 150px;
}

h4 {
  color: black;
  font-size: 20px;
}

.blue{
  display: none;
  float: left;
}

HTML CSSResult Skip Results Iframe
EDIT ON
body {
  background: #2f3640;
}

button {
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

button {
  display: block;
  width: 300px;
  height: 50px;
  margin: 20px auto 0;
  color: #fff;
  font-size: 1.5em;
  background: #007db9;
  box-shadow: 0px 5px 0 #000;
  transition: .3s;
}

button:hover {
  color: #007db9;;
  box-shadow: none;
  background: #fff;
  transform: translate3d(0, 5px, 0);
}

h6 {
  text-align: center;
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  font-size: 30px;
  margin: 30px 0;
}

.accordion_area .accordion_one .ac_header {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 1.5rem 4rem 1.5rem 2rem;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition: .2s;
}
.accordion_area .accordion_one .ac_header:not(.open):hover {
  background-color: #f1f8ff;
}
.accordion_area .accordion_one:nth-child(odd) .ac_header {
  background-color: #f5f5f5;
}
.accordion_area .accordion_one:nth-child(odd) .ac_header:not(.open):hover {
  background-color: #f1f8ff;
}
.accordion_area .accordion_one .ac_header .i_box {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
.accordion_area .accordion_one .ac_header .i_box:before, .accordion_area .accordion_one .ac_header .i_box:after {
  position: absolute;
  content: "";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}
.accordion_area .accordion_one .ac_header .i_box:before {
  border-top: 2px solid #014897;
  width: 20px;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.accordion_area .accordion_one .ac_header .i_box:after {
  border-left: 2px solid #014897;
  width: 0;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 9px;
  transition: .3s;
}
.accordion_area .accordion_one .ac_header.open .i_box:after {
  height: 0;
}
.accordion_area .accordion_one .ac_inner {
  display: none;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
}
@media screen and (max-width: 736px) {
  .accordion_area .accordion_one .ac_header {
    padding: 1.5rem 2rem 1.5rem 1.0rem;
  }
  .accordion_area .accordion_one .ac_header .i_box {
    right: 0.8rem;
    width: 15px;
    height: 15px;
    margin-top: -7px;
  }
  .accordion_area .accordion_one .ac_header .i_box:before {
    width: 15px;
  }
  .accordion_area .accordion_one .ac_header .i_box:after {
    height: 15px;
    right: 7px;
  }
  .accordion_area .accordion_one .ac_inner {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

/*=========
faq
=========*/

.p-faq__headinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}
.p-faq__headinner::before {
  position: absolute;
  left: 0;
  content: "Q．";
  color: #09357f;
  font-size: 20px;
  font-weight: bold;
}
.p-faq__headinner p.p-faq__q-txt {
  font-size: 20px;
}
@media screen and (max-width: 736px) {
  .p-faq__headinner {
    padding-left: 25px;
  }
  .p-faq__headinner::before {
    font-size: 14px;
  }
  .p-faq__headinner p.p-faq__q-txt {
    font-size: 14px;
  }
}
.p-faq__bodyinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}
.p-faq__bodyinner::before {
  position: absolute;
  left: 0;
  content: "A．";
  color: #de0000;
  font-size: 20px;
  font-weight: bold;
}
.p-faq__bodyinner p.p-faq__a-txt {
  font-size: 20px;
}
@media screen and (max-width: 736px) {
  .p-faq__bodyinner {
    padding-left: 25px;
  }
  .p-faq__bodyinner::before {
    font-size: 14px;
  }
  .p-faq__bodyinner p.p-faq__a-txt {
    font-size: 14px;
  }
}

/*=========
base
=========*/

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: .025em;
  line-height: 1.8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.s_section {
  max-width: 1020px;
  margin: 0 auto;
  padding: 2rem 10px;
}
.gutter>*:not(:last-child) {
  margin-bottom: 1.5rem;
}
h2 {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  border-left: 5px solid #333333;
  padding-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 736px) {
  h2 {
    font-size: 16px;
  }
}
ul.list-disc {
  margin-bottom: 0;
  padding-left: 0;
}
.list-disc__item {
  margin-left: 1.5em;
  list-style: disc;
}





*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-emergency {
  position: relative;

  display: block;

  width: 200px;
  height: 130px;
  margin: 0 auto;
}

a.btn-emergency:hover .btn-emergency-top {
  top: 10px;

  height: 50px;
}

a.btn-emergency:active .btn-emergency-top {
  top: 20px;

  height: 40px;
}

.btn-emergency-top {
  position: absolute;
  top: 0;
  left: 20px;

  width: 160px;
  height: 60px;
  margin-top: 30px;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border-radius: 0 0 50% 50%;
  background: #d62d2d;
}

.btn-emergency-top:before {
  position: absolute;
  top: -30px;
  left: 0;

  width: 160px;
  height: 60px;

  content: "";

  border-radius: 80px / 30px;
  background: #ed4c4c;
}

.btn-emergency-top span {
  font-size: 38px;
  font-weight: bold;

  position: absolute;
  top: -24px;
  left: 0;

  width: 100%;

  -webkit-transform: scaleY(0.75);

  transform: scaleY(0.75);
  text-align: center;

  color: #f6a3a3;
}

.btn-emergency-bottom {
  position: absolute;
  top: 38px;
  left: 0;

  width: 200px;
  height: 80px;

  border-radius: 100px / 40px;
  background: #d8e4ea;
  -webkit-box-shadow: 0 8px 0 #c4cacc;
  box-shadow: 0 8px 0 #c4cacc;
} 

footer {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

footer p {
  font-size: 20px;
}


@media screen and (max-width:768px){
  /* スマホ用CSS -------------- */
  .header-top{
    height: 60px;
  }
  
  .header-top h1 {
    font-size: 30px;
    padding-top: 12px;
  }
  
  .header-bottom{
    display: none;
  }
  
  .ranking{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
  }
  
  h3{
    font-size: 20px;
  }
  
  .clearfix{
    display: flex;
    flex-direction: column;
  }
  
  .uranai h3{
    font-size: 20px;
  }
  
  p{
    font-size: 10px;
  }
  
  }